/* Bio Section Styles */

.bio-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @include bp-small {
    flex-direction: column;
  }

  .avatar {
    border: 1px solid $light-gray;
    border-radius: 50%;
    margin-bottom: $base-spacing-unit;
    margin-right: $base-spacing-unit;

    @include bp-small {
      align-self: center;
      margin-right: 0;
    }
  }

  .bio {
    &-separator {
      height: 5px;
      width: 50px;
      background-color: $base-secondary-color;
      margin-bottom: $base-spacing-unit;
      border: none;

      @include bp-small {
        margin-right: auto;
        margin-left: auto;
      }
    }

    p {
      margin-bottom: 0;
    }

    @include bp-small {
      text-align: center;
      margin: 0 auto;
    }
  }
}
