/* Header Component Style */

.header {
  background-color: $base-primary-color;
  position: sticky;
  top: 0;
  z-index: 2;

  @include bp-small {
    top: -60px;
  }

  @include bp-xsmall {
    top: -90px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .title {
      color: $white;
      font-weight: bold;
      font-size: 1.5em;

      @include bp-small {
        font-size: 1.25em;
      }

      @include bp-xsmall {
        margin: 0 auto;
      }
    }

    .nav {
      list-style: none;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      margin-right: 1em;

      @include bp-small {
        margin: 1em 0 0;
        justify-content: space-around;
        order: 3;
        flex-basis: 100%;
      }

      &-item {
        margin-right: 1em;
        color: #fff;
        padding: 0.45em 0.75em;
        border-radius: 0.125em;
        cursor: pointer;

        &:hover {
          background-color: rgba(133, 58, 141, 0.25);
        }

        @include bp-small {
          margin: 0;
        }
      }
    }

    .social {
      @include bp-xsmall {
        margin: 0.5em auto 0;
      }
    }
  }
}
