/* Header Component Style */

.header {
  background-color: $base-primary-color;

  &-wrapper {
    justify-content: space-between;
    align-items: center;

    @include bp-small {
      text-align: center;
    }

    .title {
      color: $white;
      font-weight: bold;
      font-size: 1.5em;
    }

    .nav {
      list-style: none;
      display: flex;
      color: #fff;

      @include bp-small {
        margin-top: 1em;
        justify-content: space-around;
      }

      &-item {
        margin-left: 1.5em;

        @include bp-small {
          margin: 0;
        }
      }
    }
  }
}
