/* Hero Component Style */

.hero {
  background-color: $lighter-gray;

  &-home {
    background: linear-gradient(-150deg, #853a8d, #38273a);

    .hero-wrapper {
      height: 400px;
      align-items: flex-start;
      color: #fff;

      @include bp-small {
        height: 100%;
        padding: 2.5em 1em;
        align-items: center;
      }

      .home-title {
        font-size: 3em;

        &-name {
          white-space: nowrap;
        }

        @include bp-small {
          font-size: 2em;
        }
      }

      .home-description {
        font-weight: initial;
      }

      .home-cta {
        .btn {
          background: transparent;
          padding: 0.5em 1em;
          border-radius: 0.125em;
          border: 2px solid transparent;

          &-primary {
            background-color: $yellow-gold;
            color: $dark-purple;
            border-color: $yellow-gold;

            &:hover {
              background-color: #f9bc04;
              border-color: #f9bc04;
            }
          }

          &-secondary {
            color: $yellow-gold;
            border-color: $yellow-gold;

            &:hover {
              background-color: rgba(255, 204, 51, 0.08);
            }
          }
        }

        .btn:first-child {
          margin-right: 0.5em;

          @include bp-small {
            margin: 1em;
          }
        }
      }
    }
  }

  &-wrapper {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .title {
      color: $base-primary-color;
      position: relative;
      z-index: 1;
    }

    .title:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 35%;
      bottom: 5px;
      right: 0;
      left: 0;
      background-color: $base-secondary-color;
      z-index: -1;
    }
  }
}
