/* Blog Post Style */

@import '../main';

.blog {
  @include container($blog-wrapper-width);
  padding-top: 3em;
  padding-bottom: 3em;
}

.blog-post {
  padding: 2em 0;

  p {
    line-height: 1.5 * $base-line-height;
  }

  blockquote {
    font-size: 1.15rem;
    margin-bottom: $base-spacing-unit;
    padding: 1.45rem 2rem;
    border-left: 5px solid $base-secondary-color;
    line-height: 1.5rem;

    p {
      max-width: 100%;
      margin: 0;
    }
  }

  pre {
    margin-bottom: $base-spacing-unit;
  }
}
