/* Blog Index Style */

@import '../main';

.wrapper {
  @include container($wrapper-width);
  padding-top: 3em;
  padding-bottom: 3em;
}

.listing {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 2 * $base-spacing-unit;
}

.title {
  margin-bottom: 0.25em;
}

.link {
  @include base-link;
}

.separator {
  height: 5px;
  width: 50px;
  background-color: $base-secondary-color;
  margin-bottom: $base-spacing-unit;
  border: none;
}

.date {
  color: $dark-gray;
  font-size: 0.9rem;
  margin-bottom: 0.75em;
}

.excerpt {
  line-height: 1.5 * $base-line-height;
}

.readMoreContainer {
  text-align: right;
  margin-bottom: $base-spacing-unit;
}

.readMore {
  @include base-link;
}
