/* Footer Component Style */

@import '../main';

.container {
  background-color: $darker-gray;
}

.wrapper {
  @include container($wrapper-width);
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  color: $white;
}
