/* Footer Component Style */

@import '../main';

.container {
  background-color: $darker-gray;
}

.wrapper {
  @extend %container-wrapper;
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  color: $white;
}

.wrapperItem {
  @extend %flex-col;
}
