.header-container {
  background-color: #38273A;
}

.header-wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 1rem 1.0875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
}
